:global(body) {
  color: #444343;
  background: #EEE;
  font-family: Impact, Tacoma, sans-serif;
}

:global(.usersIndex) {
  float: left;
  width: 200px;
  margin-right: 50px;
  border-right: 1px solid #868686;
}

:global(.content) {
  clear: right;
  width: 100%;
}

:global(h1) {
  text-align: center;
}

:global(ul) {
  padding: 0;
  list-style-type: none;
}

:global(li) {
  margin-bottom: 10px;
}

:global(a) {
  color: #868686;
  text-decoration: none;
}

:global(a:hover) {
  opacity: .6;
}

:global(nav) {
  text-align: right;
}
:global(nav > a) {
  padding: 15px;
}